spring:
  application:
    name: GearTrackApi

  datasource:
    url: jdbc:postgresql://localhost:5435/geartrack
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true


app:
  jwt:
    secret: ${JWT_SECRET:myVerySecretKeyForJWTTokensThatShouldBeAtLeast32Characters}
    expiration: 86400000
  google:
    client-id: 445794691525-hs55893o7q75k1ci3h6k27mkm2vciksb.apps.googleusercontent.com

logging:
  level:
    com.example.geartrackapi: INFO
    org.springframework.security: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

server:
  port: 8080