spring:
  application:
    name: GearTrackApi

  datasource:
    url: jdbc:postgresql://localhost:5435/geartrack
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true


app:
  jwt:
    secret: ${JWT_SECRET:myVerySecretKeyForJWTTokensThatShouldBeAtLeast32Characters}
    expiration: 86400000
  google:
    client-id: 445794691525-hs55893o7q75k1ci3h6k27mkm2vciksb.apps.googleusercontent.com

aws:
  access-key: test
  secret-key: test

sqs:
  local-uri: http://localhost:4567
  launch-localstack: false
  rate: 10000
  limits:
    maxNumberOfMessages: 10
    maxBatchesPerRun: 5
  url:
    read:
      employeeChangeQueue: http://sqs.us-east-1.localhost.localstack.cloud:4567/000000000000/employeeChangeQueue

localstack:
  sqs:
    employeeChangeQueue: http://sqs.us-east-1.localhost.localstack.cloud:4567/000000000000/employeeChangeQueue

server:
  port: 8080