spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:geartrack_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,http://localhost:5173,http://localhost:5174,http://localhost:5175}

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 3600000
    refresh-expiration: 604800000
  google:
    client-id: ${GOOGLE_CLIENT_ID}

aws:
  access-key: ${AWS_ACCESS_KEY}
  secret-key: ${AWS_SECRET_KEY}

sqs:
  local-uri: ${SQS_LOCAL_URI:}
  launch-localstack: ${SQS_LAUNCH_LOCALSTACK:false}
  rate: ${SQS_POLLING_RATE:10000}
  limits:
    maxNumberOfMessages: ${SQS_MAX_NUMBER_OF_MESSAGES:10}
    maxBatchesPerRun: ${SQS_MAX_BATCHES_PER_RUN:5}
  url:
    read:
      employeeChangeQueue: ${SQS_EMPLOYEE_CHANGE_QUEUE_READ_URL}
logging:
  level:
    com.example.geartrackapi: INFO
    org.springframework.security: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
